body {
  font-family: Helvetica;
  background-color: honeydew;
  color: #2c2c2c;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  padding-bottom: 1rem;
}

header, header ul {
  display: flex;
  flex-direction: row;
}

header h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0 2rem 0 0;
  text-transform: uppercase;
}


header li {
  padding-right: 2rem;
}

a {
  text-decoration: none;
  color: darkgreen;
}

img {
  width: 300px;
}

main ul, article {
  display: flex;
  flex-direction: column;
}

article {
  padding: 1rem 0;
  font-size: 2rem;
}
